.header{
    min-width: 100px;
    background: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.header a{
    font-size: 60px;
    color: red;
    text-decoration: none;
}
.header [class='active'] {
    text-decoration: underline;
    color: green;
}